This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [1]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = 'v8N-DBa2zKMxAnwz2Mrx'

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [47]:
# First, import the relevant modules
import requests
import json
import operator
import pandas as pd

In [2]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned
url = "https://www.quandl.com/api/v3/datasets/FSE/AFX_X?start_date=2018-01-01&end_date=2018-01-02&api_key=v8N-DBa2zKMxAnwz2Mrx"
request = requests.get(url)

In [3]:
json_file = request.json()

In [4]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure
json_dict = dict(json_file)

 # 1.Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).

In [5]:
'''Get the Zeiss Meditec stock data for the year of 2017 by specifiying the start_date=2017-01-01 
and end_date=2018-01-01'''
url_2017 = "https://www.quandl.com/api/v3/datasets/FSE/AFX_X?start_date=2017-01-01&end_date=2018-01-01&api_key=v8N-DBa2zKMxAnwz2Mrx"
# Requesting the data using the requests package
request_2017 = requests.get(url_2017)

In [6]:
#Converting the data into Json file
Zeiss_Meditec_Json_file = request_2017.json()

# 2.Convert the returned JSON object into a Python dictionary.

In [7]:
#Converting the json file into dictionary
Zeiss_Meditec_Dict_file = dict(Zeiss_Meditec_Json_file)

######    The column names and the data are seperate in the file and there is so much redundant information in the dictionary file so we can seperate the columns and data and zip them togather to get more clean data

In [8]:
#Getting column names
column_names = Zeiss_Meditec_Dict_file['dataset']['column_names'][1:]

In [9]:
#Getting stock data
data=Zeiss_Meditec_Dict_file['dataset']['data']

In [10]:
#Creating a data dictionary with date as key and stock information for the day as values 
data_dict = {}
for i in data:
    if i[0] in data_dict:
        data_dict[i[0]].append(i[1:])
    else:
        data_dict[i[0]]=i[1:]

In [11]:
#zipping the column names to the day values
for key in data_dict.keys():
    data_dict[key] = dict(zip(column_names, data_dict[key]))

In [70]:
data1 = pd.DataFrame(data_dict)

In [74]:
data1

,2017-12-29,2017-12-28,2017-12-27,2017-12-22,2017-12-21,2017-12-20,2017-12-19,2017-12-18,2017-12-15,2017-12-14,...,2017-01-13,2017-01-12,2017-01-11,2017-01-10,2017-01-09,2017-01-06,2017-01-05,2017-01-04,2017-01-03,2017-01-02
Change,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Close,51.76,51.60,51.82,51.32,51.40,51.27,51.66,52.62,52.01,52.67,...,34.85,34.90,35.42,34.91,34.67,35.04,35.06,35.19,35.48,35.80
Daily Traded Units,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Daily Turnover,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
High,51.94,51.82,51.89,51.50,51.52,52.04,52.73,52.75,52.70,53.54,...,34.98,35.38,36.00,34.98,35.35,35.21,35.20,35.51,35.93,35.94
Last Price of the Day,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Low,51.45,51.43,50.76,50.92,50.90,51.20,51.07,51.61,51.64,52.15,...,34.60,34.31,34.84,34.46,34.43,34.91,34.73,34.75,35.34,34.99
Open,51.76,51.65,51.45,51.05,51.16,51.88,52.73,52.37,52.70,53.11,...,34.98,35.38,34.95,34.80,35.29,34.91,35.02,35.48,35.90,34.99
Traded Volume,34640.00,40660.00,57452.00,71165.00,120649.00,50587.00,137313.00,129733.00,204080.00,132981.00,...,59367.00,163860.00,123530.00,43976.00,62225.00,27507.00,48412.00,54408.00,70618.00,44700.00
Turnover,1792304.00,2099024.00,2957018.00,3641949.00,6179433.00,2610258.00,7102361.00,6770499.00,10596319.00,7016953.00,...,2065534.00,5703427.00,4369079.00,1528055.00,2157182.00,964046.00,1692326.00,1906810.00,2515473.00,1590561.00

In [79]:
#3. Calculate what the highest and lowest opening prices were for the stock in this period.
max = data1.loc['Open'].max()
print(max)
min=data1.loc['Open'].min()
print(min)

53.11

In [84]:
# 4.  What was the largest change in any one day (based on High and Low price)?
high = data1.loc['High']
low = data1.loc['Low']
largestchange = (high-low).max()
print(largestchange)

2.8100000000000023

In [86]:
# 5. What was the largest change between any two days (based on Closing Price)?
closemax = data1.loc['Close'].max()
closemin = data1.loc['Close'].min()
print(closemax - closemin)

19.03

In [92]:
#6. What was the average daily trading volume during this year?
trade =data1.loc['Traded Volume']
print(trade.mean())

89124.33725490196

In [98]:
#7. (Optional) What was the median trading volume during this year. 
#(Note: you may need to implement your own function for calculating the median.)
def median(row):
    n = len(row)
    if n % 2 == 1:
            return sorted(row)[n//2]
    else:
            return sum(sorted(row)[n//2-1:n//2+1])/2.0

In [99]:
median(trade)

76286.0